# SAM CLI configuration - copy to samconfig.toml and customize

version = 0.1

[default.deploy.parameters]
stack_name = "cron-joules"
resolve_s3 = true
s3_prefix = "cron-joules"
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Environment=prod ScheduleTimezone=America/Los_Angeles"
